%html
  %head
    %title 
      McHacks
    %meta{charset: "utf-8"}
    %link(rel="stylesheet" type="text/css" href="/assets/style.css")
  %body
    %header.mega
      %img{src:"/assets/logo_side.png"} MC HACK
      %h3 WHAT
      %h3 WHEN
      %h3 WHO
    %section
      %form
        %input{type:"text", placeholder:"email@address.com"}
        %input{type:"button",value:"SIGNUP"}

