%html
  %head
    %title 
      McHacks
    %meta{charset: "utf-8"}
    %link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900' rel='stylesheet' type='text/css')
    %link(rel="stylesheet" type="text/css" href="assets/style.css")
    %script(src="assets/custom.js")
  %body
    %div.slide.dark
      %div.command  $ curl http://api.mchacks.io/

      %div.hash
        %span.pair
          %p.key what
          %p.string McHacks
        %span.pair
          %p.key who
          %p.string 600 of the best hackers
        %span.pair
          %p.key when
          %p.string February 21 - 23
        %span.pair
          %p.key where
          %p.string McGill University
        %span.pair
          %p.key why
          %p.string Have fun, meet people, win prizes!
      %div.buttons
        %a> Register
        %a Sponsor Us
    %div.slide
      %article
        %h1.giga Information
        %div.col 
          %h5 Put a bird on it?
          %p Readymade kale chips assumenda. Officia fashion axe raw denim cornhole cray irure. Proident sunt voluptate magna, delectus keffiyeh readymade organic veniam culpa Echo Park. Shoreditch Terry Richardson next level you probably haven't heard of them. Chia nihil accusamus umami, nisi pickled proident kale chips cornhole next level tempor excepteur Odd Future Etsy. 90's officia forage laborum cillum mustache. Banksy umami officia eiusmod cray bespoke letterpress, cupidatat cornhole cillum sartorial.
          %h5 Meh tempor leggings fanny pack keytar?
          %p Fashion axe disrupt Schlitz odio, whatever mumblecore dolor Neutra commodo next level swag Marfa. Pariatur shabby chic Etsy officia try-hard occaecat, aute pour-over odio aesthetic anim church-key banh mi kale chips authentic. Vegan paleo in, artisan consequat iPhone raw denim typewriter non shabby chic scenester quis. Gastropub fanny pack High Life, reprehenderit ex Terry Richardson drinking vinegar Brooklyn selfies veniam occupy assumenda hoodie readymade. Pork belly Blue Bottle Pitchfork Cosby sweater farm-to-table, nisi vegan. Id locavore vinyl, distillery roof party viral small batch +1.
        %div.col 
          %h5 Vinyl pariatur readymade laborum nihil hoodie?
          %p Viral blog aesthetic narwhal, cardigan Vice laborum tote bag whatever duis fashion axe Schlitz. Pinterest Truffaut mixtape, 8-bit esse cardigan Helvetica aliqua. Drinking vinegar authentic deep v, kitsch freegan iPhone tofu non organic vegan pug nostrud gentrify High Life exercitation. Occupy nostrud sartorial, assumenda mlkshk tofu literally culpa non biodiesel Tonx consequat occaecat. Paleo disrupt literally, skateboard before they sold out accusamus consequat blog Pitchfork Vice. Sunt sriracha VHS non, irure eu 90's.
          %h5 Travel
          %p 
            If you're traveling to us we'll be reimbursing travel costs. If you would like to organize a bus to pick you up at your university, contact us at: 
            %a{href:"mailto:transport@hackmcgill.com?Subject=Organizing%20A%20Bus"} something@somewhere.com
      %footer
        Follow us at
        %a{href: "https://twitter.com/hack_mcgill"} @hack_mgill.
        Event organised by
        %a{href: "http://hackmcgill.com"} hackmcgill.

