%html
  %head
    %title 
      McHacks
    %meta{charset: "utf-8"}
    %link(rel="stylesheet" type="text/css" href="/assets/style.css")
  %body
    %div.slide

      %div.hash
        %span.pair
          %p.key key
          %p.string value
        %span.pair
          %p.key key
          %p.string value
    %div.slide
      %a{name:"test"}
      %article
        %h1 Sponsors
    %div.slide
      %article
        %h1 Info
    
