%html
  %head
    %title 
      McHacks
    %meta{charset: "utf-8"}
    %link(rel="stylesheet" type="text/css" href="assets/style.css")
  %body
    %div.slide

      %div.hash
        %span.pair
          %p.key what
          %p.string McHacks
        %span.pair
          %p.key who
          %p.string YOU
        %span.pair
          %p.key when
          %p.string February
        %span.pair
          %p.key where
          %p.string McGill University
        %span.pair
          %p.key why
          %p.string Have fun, meet new people, win prizes!
    %div.slide
      %article
        %h1 Frequently Asked Questions
        %div.col 
          %h6 Question
          %p Answer goes here.
          %h6 Question
          %p Answer goes here. Perhaps it could be longer than just one line ? 
        %div.col 
          %h6 Question
          %p Answer goes here. 
          %h6 Travel
          %p If you're traveling to us we'll be reimbursing travel costs. If you would like to organize a bus to pick you up at your university, contact us at: something@somewhere.com
        %footer
          %form
            %input{type:"button", value: "Sign up"}

    %div.slide
      %article
        %h1 Sponsors

