%html
  %head
    %title 
      McHacks
    %meta{charset: "utf-8"}
    %link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900' rel='stylesheet' type='text/css')
    %link(rel="stylesheet" type="text/css" href="assets/style.css")
    %script(src="assets/custom.js")
  %body
    %div.slide.dark
      %div.logo
        %img{src:"assets/logo.png"}
        %h1 It doesn't get any better than this.
      %div.command  $ curl http://api.mchacks.io/

      %div.hash
        %span.pair
          %p.key location
          %p.string McGill Campus
        %span.pair
          %p.key hackers
          %p.string 500
        %span.pair
          %p.key date
          %p.string February 22 - 23
        %span.pair
          %p.key prizes
          %p.string 30,000 dollars in prizes
        %span.pair
          %p.key travel
          %p.string 200 dollar reimbursement
      %div.buttons
        %a{href:"https://docs.google.com/forms/d/12DAbl8omLnRJWWrw-cTWWgftyy_jtDka2V5YbDO1siM/viewform"}> Register
        %a{href:"mailto:helloworld@hackmcgill.com?Subject=Sponsorship"} Sponsor Us
      %article
        If you would like to organize a bus to pick you up at your university, 
        %a{href:"mailto:transport@hackmcgill.com?Subject=Organizing%20A%20Bus"} contact us.
      %footer
        Follow us at
        %a{href: "https://twitter.com/hack_mcgill"} @hack_mcgill.
        Event organised by
        %a{href: "http://hackmcgill.com"} hackmcgill.



