@import "normalize";
@import "typeplate.css";
@import "solarized";
@import "json";

body{
  width:100%;
  margin:0;
}

.slide:nth-child(odd){
//  @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
background: white;
color: black;
}
.slide
{
//  @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
min-height: 100%;
width: 100%;

overflow:auto;

background: $red;

article {
  width: 70%;
  margin: auto;
  margin-top: 50px;

  h1 {
    text-align: center;
    color: white;
  }
  h5,h6 {
    color: white;
  }
  color: white;
  font-weight: 100;
}
}
.col {
  width: 50%;
  float: left;
  padding: 0 10px 0 10px;
  box-sizing:border-box;
}

form{
  height:3rem;
}

footer{
  width: 100%;
  float:left;
  margin: 2em 0;
  text-align: center;
  vertical-align: middle;
}

input{
  height: 3rem;
  font-size: 2rem;
  padding:0;
  margin:0;
  color:$red;
  padding: 5px 10px 5px 10px;
}
input[type="text"] {
  border:1px solid $red;
  width: 75%;
}
input[type="button"]{
  border:1px solid $red;
  color:$red;
  background:white;

  font-weight: 700;
//  border-radius: 10px;
}
  input[type="button"]:hover{
    border:1px solid white;
    background:$red;
    color:white;
  }


